@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CF';
  src: url('./Fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CL';
  src: url("./Fonts/Chilanka/Chilanka-Regular.ttf") format("truetype");
}

@layer utilities {
  .bg-secondary {
    background-color: #09FFB5;
  }
}

/* Navbar slide down animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Content slide up animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Apply animation to the header */
.header-animation {
  animation: slideDown 1s ease-in-out;
}

/* Apply animation to the content */
.content-animation {
  animation: slideUp 1s ease-in-out;
}

/* Content slide in from the left animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Image slide in from the right animation */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Apply animation to the content */
.content-slide-in {
  animation: slideInLeft 1s ease-in-out;
}

/* Apply animation to the image */
.image-slide-in {
  animation: slideInRight 1s ease-in-out;
}

/* Base styles */

/* Default background color (light mode) */
html {
  transition: background-color 0.2s ease;
  scroll-behavior: smooth;
}

html.light {
  background-color: #ffffff;
}

html.dark {
  background-color: #000000;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #1A3DF8;
}

/* Navigation Styles */
.navItem {
  @apply text-primary font-cF text-[30px] font-normal leading-normal relative;
  position: relative;
  display: inline-block;
  color: inherit;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #09FFB5;
}

.navItem::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #09FFB5;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navItem:hover::after {
  transform: scaleX(1);
}

.dark .navItem {
  color: white;
  border-color: white;
}

.light .navItem {
  color: black;
  border-color: black;
}

/* Dark and light theme */
.dark .theme-bg {
  @apply bg-dark-bg;
}

.light .theme-bg {
  @apply bg-light-bg;
}

.dark .theme-text {
  @apply text-dark-text;
}

.light .theme-text {
  @apply text-light-text;
}

.toggle-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: background-color 1s ease, transform 1s ease;
}

.toggle-circle.light {
  background-color: #fff;
}

.toggle-circle.dark {
  background-color: #4b4b4b;
}

.toggle-circle > svg {
  width: 20px;
  height: 20px;
  transition: color 1s ease;
}

.toggle-circle.light > svg {
  color: #000000;
}

.toggle-circle.dark > svg {
  color: #FFF;
}

.hover-word {
  display: inline-block;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hover-word:hover {
  transform: scale(1.1);
  color: black;
  background-color: #a6d2ea;
}

.dark .hover-word:hover {
  color: white;
  background-color: #a6d2ea;
}

.special-word {
  color: black;
  background-color: #a6d2ea;
  transform: scale(1.1);
  text-decoration: underline;
}

/* .dark .special-word {
  color: white
} */

/* Updated bouncing animation with reduced jump height and slower speed */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.icon-bounce {
  animation: bounce 3s infinite;
  font-size: 25px;
}

/* Color transition for icons */
.icon {
  transition: color 0.3s ease;
}

.icon:hover {
  color: #09FFB5 !important;
}

/* Border thickness and color change */
.border-b-[3px] {
  border-bottom-width: 3px;
}

.border-black {
  border-color: black;
}

/* Adjusting icon color based on theme */
.text-theme {
  color: var(--icon-color);
}

.icon-dark {
  @apply text-white;
}

.icon-light {
  @apply text-black;
}

/* Projects Section */
.projects-section {
  @apply flex flex-col items-center p-4;
}

.project-card {
  @apply bg-white p-4 rounded shadow-md m-4;
}

.theme-text {
  @apply text-border;
}

.rectangleDiv {
  @apply relative rounded-[25px] border-[3px] box-border h-[106px];
  width: 655px;
  border-color: #0f94b2;
  background-color: #a6d2ea;
  transition: all 1s ease;
}

.dark .rectangleDiv {
  border-color: #a6d2ea;
  background-color: #000000;
}

.smallDiv {
  @apply relative rounded-[15px] border-[3px] box-border h-[83px];
  width: 315px;
  border-color: #0f94b2;
  background-color: #a6d2ea;
}

.dark .smallDiv {
  border-color: #a6d2ea;
  background-color: #000000;
}

.hidden {
  opacity: 0;
  transform: translateY(100%);
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

.smallDiv {
  margin-top: 0;
  margin-bottom: 0;
}

.projectItem {
  @apply text-border flex justify-center items-center h-full text-center font-cL;
  position: relative;
  color: inherit;
  transition: color 0.3s ease;
}

.dark .projectItem {
  @apply text-border;
}

.projectItem::after {
  content: '';
  display: block;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.dark .projectItem::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #09FFB5;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}


.projectItem:hover::after {
  transform: scaleX(1);
}

.dark .projectItem {
  @apply text-border hover:text-secondary;
}

.light .projectItem {
  @apply text-border hover:text-black;
}

/* Main Section */
.main-content {
  height: 2000px;
}

/* Filter Sidebar */
@keyframes filterSlideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.filter-sidebar {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  animation: filterSlideIn 1s ease-in-out;
}

.filter-text {
  @apply font-cF text-[32px];
  color: var(--text-color);
  cursor: pointer;
}

.filter-text:hover {
  @apply text-[#1A3DF8];
}

.dark .filter-text {
  @apply text-dark-text;
}

.light .filter-text {
  @apply text-light-text;
}

/* Custom Checkbox Styles */
.custom-checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox:checked {
  background-color: #1A3DF8;
  border-color: #1A3DF8;
}

.custom-checkbox:checked::before {
  content: '✓';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.custom-checkbox:hover + .filter-text {
  color: #1A3DF8;
}

/* Line styles */
.border-b-3 {
  border-bottom-width: 3px;
}

.border-heading {
  border-color: #1A3DF8;
}

.filter-text {
  @apply flex justify-center items-center h-full text-center;
  position: relative;
  color: inherit;
  transition: color 0.3s ease;
}

.filter-text::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #1A3DF8;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.filter-text:hover::after {
  transform: scaleX(1);
}

/* Footer Styles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

footer {
  @apply relative flex flex-col items-center p-10 w-full bg-footer bg-cover bg-fixed;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.footer-item {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}

.footer-item-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Adjusting icon color based on theme */
.text-theme {
  color: var(--icon-color);
}

.icon-dark {
  @apply text-white;
}

.icon-light {
  @apply text-black;
}


/* CSS for animation */
@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 100%;
  }
}

.backgroundAnim {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(45deg, #A6D2EA, #1A3DF8, #3F44C4, #A6D2EA);
  filter: blur(80px);
  animation: animBack 3s linear infinite;
  opacity: 1; /* Increase visibility */
}

.dark .backgroundAnim {
  height: 40px;
  filter: blur(100px);
}



.backgroundAnim1 {
  top: 0;
}

.backgroundAnim2 {
  top: 20%;
  animation-delay: 2s; /* Stagger animation */
}

.backgroundAnim3 {
  top: 40%;
  animation-delay: 4s; /* Stagger animation */
}

.backgroundAnim4 {
  top: 60%;
  animation-delay: 6s; /* Stagger animation */
}

.backgroundAnim5 {
  top: 80%;
  animation-delay: 8s; /* Stagger animation */
}

.container {
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(1px);
  pointer-events: none;
  position: relative; /* Contain the background animation */
}