/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CF';
  src: url('./Fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CL';
  src: url("./Fonts/Chilanka/Chilanka-Regular.ttf") format("truetype");
}

@layer utilities {
  .bg-secondary {
    background-color: #09FFB5;
  }
}

/* Default background color (light mode) */
html {
  /* scroll-snap-type: y mandatory; */
  transition: background-color 0.2s ease;
  scroll-behavior: smooth;
}

html.light {
  background-color: #ffffff;
}

html.dark {
  background-color: #000000;
}

/* #section {
  scroll-snap-align: start;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #1A3DF8;
}

.navItem {
  @apply text-primary font-cF text-[30px] font-normal leading-normal relative;
  position: relative;
  display: inline-block;
  color: inherit;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #09FFB5;
}

.navItem::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #09FFB5;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navItem:hover::after {
  transform: scaleX(1);
}

/* Dark and light theme */
.dark .theme-bg {
  @apply bg-dark-bg;
}

.light .theme-bg {
  @apply bg-light-bg;
}

.dark .theme-text {
  @apply text-dark-text;
}

.light .theme-text {
  @apply text-light-text;
}

.toggle-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: background-color 1s ease transform 1s ease;
}

.toggle-circle.light {
  background-color: #fff;
}

.toggle-circle.dark {
  background-color: #4b4b4b;
}

.toggle-circle > svg {
  width: 20px;
  height: 20px;
  transition: color 1s ease;
}

.toggle-circle.light > svg {
  color: #000000;
}

.toggle-circle.dark > svg {
  color: #FFF;
}

.hover-word {
  display: inline-block;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.hover-word:hover {
  transform: scale(1.1);
  color: #A6D2EA; /* or any other color for light theme */
  background-color: #dc71cc;
}

.dark .hover-word:hover {
  color: #A6D2EA; /* or any other color for dark theme */
  background-color: #dc71cc;
}

.special-word {
  color: #A6D2EA;
  background-color: #dc71cc;
  transform: scale(1.1);
  text-decoration: underline;
}



/* html.light ::-webkit-scrollbar-thumb {
  background-color: #1A3DF8;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #09FFB5;
} */

